<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>Go2Eat - Let's Eat Together!</title>

<link rel="stylesheet" href="[% request.uri_base %]/bootstrap/css/bootstrap.css" >
<link rel="stylesheet" href="[% request.uri_base %]/fontawesome/css/font-awesome.css" >
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" >

<style type="text/css">
body { padding-top:60px; padding-bottom:40px;}
</style>

</head>
<body>

<!-- NaviBar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="[% request.uri_base %]" style="color:white">Go2Eat - Let's Eat Together!</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active home"><a href="[% request.uri_base %]">Home</a></li>
          <li class="about"><a href="[% request.uri_base %]/about">About</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="[% request.uri_base %]/login">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  [% content %]

<!-- Footer -->
  <hr />
  <footer>
    <p>&copy;Dancer. Power by xiaomo(wxm4ever@gmail.com).<a href="https://github.com/wangxiaomo/Go2Eat/fork_select">Fork me on GitHub</a></p>
  </footer>
</div>

<script src="[% request.uri_base %]/javascripts/jquery-1.7.2.min.js" ></script>
<script src="[% request.uri_base %]/bootstrap/js/bootstrap.min.js" ></script>
<script type="text/javascript">
</script>

</body>
</html>
